<h3>Sadly your event registration has been denied, try to register to an other event !</h3>

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('frontend/img/logo.png')) }}"> Swiss Affinity