<h3>You did it! You registered to an event!</h3>

<p>You will receive a confirmation as soon as possible.</p>

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('frontend/img/logo.png')) }}"> Swiss Affinity