{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {% if app.user is not null and is_granted('ROLE_USER') %}
        <h1>All upcoming events</h1>
        {% for event in events %}
            <h3>{{ event.name }} : <a href="">Register !</a></h3>
            {% if event.imagePath is defined and event.imagePath %}
                <img src="{{ asset('images/events/' ~ event.imagePath) }}" alt="Event image" height="300px">
            {% endif %}
        {% endfor %}
    {% else %}
        <h1>Bienvenue sur Swiss Affinity Backend !</h1>
        <a href="{{ path('fos_user_security_login') }}">Connectez-vous</a><br>
        <a href="{{ path('fos_user_registration_register') }}"> Ou Créez un compte</a>
    {% endif %}
{% endblock %}